# Dependencies
node_modules

# Next.js build output
.next
out

# Caches and logs
.turbo
.next/cache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files
.env.local
.env*.local

# Misc
.vercel
coverage
*.tsbuildinfo
.DS_Store
